<span style='color: #000' title='Frames'>    55</span><span style='color: #009' title='Memory'>   6400.00 KB</span><span style='color: #900' title='Time'>     82.87 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />