@charset utf-8;
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.clear,.clearfix:after,.clearfix:before {
overflow:hidden;
display:block;
visibility:hidden;
width:0;
height:0;
}

.clear,.clearfix:after {
clear:both;
}

h2,h3 {
color:#222;
}

body,h6 {
color:#888;
font-family:'Open Sans',sans-serif;
}

.nav>li>a:focus,.navStyle ul li a,.navStyle>li>a:hover {
text-decoration:none;
}

.Portfolio-box,.clear,.service-list-col2,.social_links {
overflow:hidden;
}

ul {
list-style:none;
}

.listado {
list-style:outside;
}

a,a:active,a:hover {
outline:0!important;
}

body,h2,h6 {
font-weight:400;
}

.clearfix:after,.clearfix:before {
content:'\0020';
}

body {
background:#fff;
font-size:14px;
}

h2 {
font-size:38px;
font-family:Raleway,sans-serif;
margin:0 0 25px;
}

h3 {
font-family:'Open Sans',sans-serif;
font-weight:600;
font-size:18px;
margin:0 0 5px;
}

h6 {
font-size:16px;
margin:0 0 60px;
}

p {
line-height:24px;
}

#header_wrapper {
background:#000;
padding:5px 0 10px;
}

.nav>li>a:focus,.navStyle>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
color:#005490;
background-color:transparent;
}

.logo {
float:left;
margin-top:8px;
z-index:2;
}

.res-nav_click {
display:none;
}

#main-nav {
margin-top:14px;
}

.navbar-inverse {
background-color:transparent;
border-color:transparent;
}

.navbar {
border:0 solid #fff;
min-height:40px;
margin-bottom:0;
}

.navStyle ul {
list-style:none;
padding:0;
}

.navStyle ul li.social-button {
margin:14px 5px;
}

.navStyle ul li.social-first-button {
margin:14px 5px 15px 20px;
}

.borderTop,.mrgTop {
margin-top:30px;
}

.navStyle ul li a {
display:block;
font-size:14px;
color:#222;
text-transform:uppercase;
font-weight:600;
transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
}

.navStyle ul li a:hover {
color:#005490;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover {
color:#fff;
background-color:#005490;
border-radius:5%;
}

.navStyle>li.active>a,.navStyle>li.active>a:hover {
text-decoration:none;
color:#005490;
background-color:transparent;
}

.borderLeft {
border-left:1px solid #DADADA;
}

.borderTop {
border-top:1px solid #DADADA;
}

.white_pad {
right:0;
bottom:0;
}

.white_pad img {
position:absolute;
right:0;
bottom:0;
}

.top_left_cont {
padding:25px 0 0;
}

.top_left_cont h3 {
font-size:16px;
color:#f56eab;
text-align:left;
font-weight:700;
margin:0 0 20px;
}

.top_left_cont h2 {
font-size:40px;
color:#FFF;
line-height:52px;
text-align:left;
margin:0 0 26px;
}

.top_left_cont p {
font-size:16px;
color:#DADADA;
line-height:26px;
margin:0 0 30px;
}

.bannerImg {
position:absolute;
bottom:0;
right:0;
}

a.read_more2 {
font-size:16px;
width:178px;
height:46px;
line-height:46px;
border-radius:3px;
-moz-transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
background:0 0;
color:#fff;
border:1px solid #fff;
}

a.contact_btn,a.read_more2 {
text-align:center;
text-transform:uppercase;
font-family:Raleway,sans-serif;
font-weight:600;
display:block;
transition:all .2s ease-in-out;
}

a.read_more2:hover {
background:#fff;
color:#005490;
border:1px solid #fff;
}

.service_wrapper {
padding:40px 0;
}

.service_block {
text-align:center;
padding-left:15px;
padding-right:15px;
}

.service_icon {
border-radius:50%;
width:90px;
height:90px;
margin:0 auto 25px;
}

.service_icon,.service_icon.icon2,.service_icon.icon3 {
border:2px solid #005490;
}

.service_icon span {
background:0 0;
border-radius:50%;
display:block;
height:100%;
width:100%;
}

.service_icon i {
color:#005490;
font-size:40px;
margin-top:0;
position:relative;
top:20px;
z-index:20;
}

.service_block h3 {
font-family:Raleway,sans-serif;
font-weight:600;
font-size:18px;
color:#111;
margin:35px 0 18px;
}

.service_block p {
font-size:16px;
color:#888;
margin:0;
}

#work_outer {
background:#f9f9f9;
position:relative;
padding:70px 0;
}

.work_pic {
position:absolute;
right:0;
top:25%;
width:50%;
}

.inner_section {
padding:60px 0 20px;
}

.service-list {
font-size:14px;
margin-bottom:40px;
padding:0;
}

.service-list-col1 {
float:left;
width:60px;
text-align:center;
}

.service-list-col1 i {
color:#888;
font-size:19px;
font-style:normal;
line-height:20px;
}

.page_section.alabaster {
background:#fafafa;
}

.work_bottom span {
font-size:18px;
color:#333;
display:block;
margin:0 0 20px;
}

a.contact_btn {
background:#fff;
width:176px;
height:40px;
padding-top:8px;
font-size:16px;
color:#005490;
border-radius:3px;
border:2px solid #005490;
-moz-transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
cursor:hand;
}

a.contact_btn:hover {
background:#005490;
color:#fff;
}

.input-text {
background:0 0;
border:1px solid #ccc;
width:100%;
height:50px;
display:block;
border-radius:4px;
font-size:15px;
color:#aaa;
transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
margin:0 0 15px;
padding:13px 16px;
}

#instalaciones {
padding:60px 0 40px;
}

.Portfolio-nav {
list-style:none;
text-align:center;
margin:0 0 45px;
padding:0;
}

.Portfolio-nav li {
display:inline;
margin:0 10px;
}

.Portfolio-nav li a {
display:inline-block;
font-size:12px;
line-height:20px;
color:#222;
border-radius:4px;
text-transform:uppercase;
background:#f7f7f7;
margin-bottom:5px;
transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
padding:10px 22px;
}

.Portfolio-nav li a.current,.Portfolio-nav li a:hover {
text-decoration:none;
background:#005490;
color:#fff;
}

.portfolioContainer {
padding-left:15px;
width:auto!important;
margin:0 auto;
}

.Portfolio-box {
text-align:center;
width:350px;
float:left;
padding:12px 0;
}

.Portfolio-box img {
transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
}

.Portfolio-box img:hover {
opacity:.6;
}

img {
max-width:100%;
}

.page_section.paddind {
padding-bottom:60px;
}

.client_area {
width:960px;
margin:0 auto;
}

.client_section {
padding:35px 0 0;
}

.client_profile {
float:left;
text-align:center;
}

.client_profile_pic {
border-radius:50%;
border:2px solid #f5f5f5;
width:220px;
height:220px;
margin:0 0 15px;
}

.client_profile_pic img {
border-radius:50%;
border:3px solid #f5f5f5;
}

.client_profile h3 {
font-size:18px;
color:#49b5e7;
margin:0;
}

.client_profile span {
display:block;
font-size:16px;
color:#888;
}

.client_logos {
background:#005490;
margin-top:60px;
padding:60px 0;
}

.client_logos ul {
list-style:none;
text-align:center;
margin:0;
padding:0;
}

.client_logos ul li {
display:inline;
margin:0 25px;
}

.client_logos ul a {
display:inline-block;
margin:0 20px;
}

.page_section.team h6 {
margin-bottom:40px;
}

.team_section {
max-width:993px;
margin:0 auto;
}

#nosotros {
background:#EFEFEF;
}

.img-circle {
border-radius:0;
}

.team .member {
padding-bottom:100px;
}

.author-avatar {
float:left;
max-height:200px;
max-width:200px;
}

.member-details {
padding-left:230px;
}

.member-details p {
margin:0;
padding:20px 0;
}

.designation {
display:inline-block;
padding-bottom:5px;
font-size:.81em;
color:#b2b2b2;
letter-spacing:.4px;
}

.member-social-link a {
border-radius:4px;
display:inline-block;
height:32px;
width:32px;
text-align:center;
line-height:32px;
font-size:.9em;
margin-right:6px;
-webkit-transition:all .25s ease;
-moz-transition:all .25s ease;
-ms-transition:all .25s ease;
-o-transition:all .25s ease;
transition:all .25s ease;
}

.page_section.contact {
padding:90px 0 100px;
}

.contact_section {
margin:0 0 60px;
}

.contact_section h2 {
font-size:40px;
color:#fff;
text-transform:uppercase;
margin:0 0 50px;
}

.contact_block_icon {
border-radius:50%;
height:85px;
width:85px;
margin:0 auto 20px;
}

.contact_block_icon span {
background:#f56eab;
border:5px solid #fff;
border-radius:50%;
display:block;
height:100%;
width:100%;
}

.contact_block_icon.icon2 {
border-color:#005490;
}

.contact_block_icon.icon3 {
border-color:#49b5e7;
}

.contact_block_icon.icon3 span {
background:#49b5e7;
}

.contact_block_icon i {
color:#fff;
font-size:36px;
margin-top:0;
position:relative;
top:26px;
z-index:20;
}

.contact_block span,.contact_block span a {
display:block;
font-size:16px;
color:#fff;
line-height:20px;
}

.contact_info {
font-size:15px;
padding-left:0;
margin:0 0 0 20px;
}

.contact_info h3 {
font-size:24px;
font-weight:600;
color:#fff;
margin:0 0 30px;
}

.contact_info p,.contact_info_result,.information_info_result {
display:block;
color:#fff;
line-height:28px;
font-size:16px;
}

.contact_info p {
margin:0 0 30px;
}

.contact_info_result {
text-align:center;
margin:0 0 30px;
}

.information_info_result {
text-align:center;
margin:100px 0 30px;
}

.social_links {
display:block;
list-style:none;
margin:0;
padding:0;
}

.social_links li {
float:left;
margin-right:4px;
}

.social_links li a {
display:block;
width:50px;
height:50px;
text-align:center;
line-height:50px;
font-size:25px;
color:#fff;
}

.social_links li a:focus,.social_links li a:hover {
text-decoration:none;
border-radius:80px;
}

.twitter a:hover {
color:#55acee;
}

.facebook a:hover {
color:#3b5998;
}

.pinterest a:hover {
color:#cb2026;
}

.gplus a:hover {
color:#dd4b39;
}

.form {
margin:0 66px 0 30px;
}

.input-text:focus {
border:1px solid #fff;
outline:0;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(124,197,118,.3);
-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(124,197,118,.3);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(124,197,118,.3);
}

.input-text.text-area {
height:230px;
resize:none;
overflow:auto;
}

.input-btn {
width:175px;
height:50px;
letter-spacing:0;
background:#005490;
border-radius:3px;
color:#fff;
font-size:16px;
text-transform:uppercase;
font-weight:600;
border:0;
transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
}

.input-btn:hover {
background:#fff;
color:#222;
}

.contact-error {
display:none;
color:red;
font-size:15px;
}

.footer_wrapper {
background:#232323;
}

.footer_bottom {
border-top:1px solid #3C3A3A;
padding:25px 0;
}

.footer_bottom span {
display:block;
font-size:14px;
color:#ccc;
text-align:center;
}

.footer_bottom span a {
display:inline-block;
color:#005490;
font-size:14px;
transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
}

.footer_bottom span a:hover {
color:#fff;
}

.delay-02s {
animation-delay:.2s;
-webkit-animation-delay:.2s;
}

.delay-03s {
animation-delay:.3s;
-webkit-animation-delay:.3s;
}

.delay-04s {
animation-delay:.4s;
-webkit-animation-delay:.4s;
}

.delay-05s {
animation-delay:.5s;
-webkit-animation-delay:.5s;
}

.delay-06s {
animation-delay:.6s;
-webkit-animation-delay:.6s;
}

.delay-07s {
animation-delay:.7s;
-webkit-animation-delay:.7s;
}

.delay-08s {
animation-delay:.8s;
-webkit-animation-delay:.8s;
}

.delay-09s {
animation-delay:.9s;
-webkit-animation-delay:.9s;
}

.delay-1s {
animation-delay:1s;
-webkit-animation-delay:1s;
}

.delay-12s {
animation-delay:1.2s;
-webkit-animation-delay:1.2s;
}

.container.portfolio_title {
padding-bottom:0;
}

#filters {
margin-top:10px;
margin-bottom:40px;
text-align:center;
display:block;
float:none;
z-index:2;
position:relative;
}

#filters ul li a {
display:block;
}

#filters ul li a h5 {
border-radius:4px;
display:inline-block;
font-size:12px;
line-height:20px;
margin-bottom:5px;
text-transform:uppercase;
transition:all .3s ease-in-out 0;
background:#fff;
border:1px solid #C2C2C2;
color:#7C7C7C;
padding:10px 22px;
}

#filters ul li a.active h5,#filters ul li a:hover h5 {
background:#fff;
color:#005490;
text-decoration:none;
border:1px solid #005490;
}

.section-title h2 {
color:#222;
font-family:Raleway,sans-serif;
font-size:34px;
letter-spacing:-1px;
text-align:center;
text-transform:uppercase;
margin:0 0 15px;
}

.section-title span {
display:block;
color:#888;
font-family:'Open Sans',sans-serif;
font-size:16px;
font-weight:400;
text-align:center;
margin:0 0 60px;
}

#portfolio_wrapper {
position:relative;
width:100%;
display:block;
margin:0 auto;
padding:0;
}

#portfolio_wrapper .one-four {
line-height:0;
width:25%;
position:relative;
margin:0!important;
padding:0;
}

.portfolio-item {
position:relative;
overflow:hidden;
padding:0;
}

.portfolio-item .portfolio_img {
overflow:hidden;
display:block;
position:relative;
}

.portfolio-item .portfolio_img img {
width:100%;
height:auto;
}

.item_overlay,.open-project-link {
position:absolute;
width:100%;
height:100%;
}

.portfolio-item:hover .item_overlay {
opacity:1;
transition:all .4s ease 0;
-moz-transition:all .4s ease 0;
-webkit-transition:all .4s ease 0;
-ms-transition:all .4s ease 0;
-o-transition:all .4s ease 0;
}

.item_overlay {
top:0;
left:0;
opacity:0;
transition:all .3s ease 0;
-moz-transition:all .3s ease 0;
-webkit-transition:all .3s ease 0;
-o-transition:all .3s ease 0;
cursor:pointer;
}

.open-project-link {
z-index:100;
}

.item_overlay:hover {
background:rgba(0,93,150,.7);
}

.item_info {
position:absolute;
height:100px;
width:100%;
top:50%;
margin-top:-50px;
text-align:center;
}

.project_name {
color:#fff;
text-transform:uppercase;
margin-top:25px;
opacity:0;
font-size:18px;
transition:all .2s ease 0;
-moz-transition:all .2s ease 0;
-webkit-transition:all .2s ease 0;
-ms-transition:all .2s ease 0;
-o-transition:all .2s ease 0;
position:relative;
z-index:10;
}

.portfolio-item:hover .project_name {
opacity:1;
-webkit-transition:opacity .1s .2s;
-moz-transition:opacity .1s .2s;
-ms-transition:opacity .1s .2s;
-o-transition:opacity .1s .2s;
transition:opacity .1s .2s;
}

.project_catg {
font-size:14px;
color:#fff;
opacity:0;
margin-top:0;
transition:all .2s ease 0;
-moz-transition:all .2s ease 0;
-webkit-transition:all .2s ease 0;
-ms-transition:all .2s ease 0;
-o-transition:all .2s ease 0;
}

.portfolio-item:hover .project_catg {
opacity:.8;
-webkit-transition:opacity .1s .2s;
-moz-transition:opacity .1s .2s;
-ms-transition:opacity .1s .2s;
-o-transition:opacity .1s .2s;
transition:opacity .1s .2s;
}

.zoom-icon {
left:50%;
margin-left:-20px;
position:inherit;
width:40px;
height:40px;
margin-top:40px;
opacity:0;
background:url(images/zoom.png);
background-size:40px 40px;
transition:all .3s ease .1s;
-moz-transition:all .3s ease .2s;
-webkit-transition:all .3s ease .2s;
-ms-transition:all .3s ease .2s;
-o-transition:all .3s ease .2s;
}

.portfolio-item:hover .zoom-icon {
opacity:1;
margin-top:0;
-webkit-transition:opacity .3s .2s,margin-top .3s .2s;
-moz-transition:opacity .3s .2s,margin-top .3s .2s;
-ms-transition:opacity .3s .2s,margin-top .3s .2s;
-o-transition:opacity .3s .2s,margin-top .3s .2s;
transition:opacity .3s .2s,margin-top .3s .2s;
}

.isotope,.isotope .isotope-item {
-webkit-transition-duration:.8s;
-moz-transition-duration:.8s;
-ms-transition-duration:.8s;
-o-transition-duration:.8s;
transition-duration:.8s;
}

.isotope {
-webkit-transition-property:height,width;
-moz-transition-property:height,width;
-ms-transition-property:height,width;
-o-transition-property:height,width;
transition-property:height,width;
}

.isotope .isotope-item {
-webkit-transition-property:0;
-moz-transition-property:0;
-ms-transition-property:0;
-o-transition-property:0;
transition-property:transform,opacity;
}

.isotope .isotope-item.no-transition,.isotope.no-transition,.isotope.no-transition .isotope-item {
-webkit-transition-duration:0;
-moz-transition-duration:0;
-ms-transition-duration:0;
-o-transition-duration:0;
transition-duration:0;
}

#project_container {
display:none;
background-color:#FFF;
}

#project-page-button-fullscreen {
height:auto;
z-index:100;
position:absolute;
right:30px;
top:30px;
}

#project-page-button-fullscreen li {
display:inline-block;
font-size:30px;
}

#project-page-button-fullscreen li a {
background:url(images/close.png) no-repeat #fff;
background-size:50px 50px;
width:50px;
height:50px;
display:block;
border-radius:50px;
opacity:.5;
}

#project-page-button-fullscreen li a:hover {
opacity:1;
}

#project-page-button {
text-align:center;
margin-bottom:20px;
height:auto;
position:relative;
z-index:100;
}

#project-page-button li {
display:inline-block;
font-size:30px;
margin:60px 10px 0;
}

#project_data {
margin-bottom:0;
}

.project-section-title {
text-align:center;
margin-bottom:40px;
}

.project-section-title h1 {
margin-bottom:5px!important;
letter-spacing:1px;
}

.project-page {
background-color:#FFF;
width:100%;
height:auto;
left:0;
padding-bottom:40px;
}

.project-image-slider .bx-wrapper .bx-next {
background:url(images/project_slider_right.png) no-repeat;
background-size:35px 65px;
opacity:.3;
right:-90px;
}

.project-image-slider .bx-wrapper .bx-prev {
background:url(images/project_slider_left.png) no-repeat;
background-size:35px 65px;
opacity:.3;
left:-90px;
}

.project-image-slider .bx-wrapper .bx-next:hover,.project-image-slider .bx-wrapper .bx-prev:hover {
opacity:1;
background-position:0;
}

.project-image-slider .bx-wrapper .bx-controls-direction a {
height:65px;
margin-top:-33px;
outline:0;
position:absolute;
text-indent:-9999px;
top:50%;
width:35px;
z-index:100;
}

.project-description {
margin-top:40px;
margin-bottom:20px;
width:100%;
height:auto;
}

.small-border {
height:2px;
width:50px;
background-color:#ddd;
margin-bottom:15px;
}

.visit-project {
width:100%;
text-align:center;
border-top:1px solid #ddd;
margin-top:20px;
padding:55px 0 20px;
}

.project-description h5 {
color:#222;
text-transform:uppercase;
margin-bottom:5px;
}

#cycle-loader {
height:32px;
left:50%;
position:absolute;
top:50%;
width:32px;
z-index:999;
margin:-8px 0 0 -8px;
}

#arrow_left,#arrow_right {
position:absolute;
z-index:1000;
top:50%;
height:60px;
width:32px;
margin-top:-30px;
}

#arrow_left {
left:30px;
}

#arrow_right {
right:30px;
}

#arrow_left:active,#arrow_left:hover,#arrow_right:active,#arrow_right:hover {
margin-top:-28px;
}

div.mc-image {
-webkit-transition:opacity 1s ease-in-out;
-moz-transition:opacity 1s ease-in-out;
-o-transition:opacity 1s ease-in-out;
transition:opacity 1s ease-in-out;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
height:100%;
overflow:hidden;
width:100%;
}

.in-slide-content div.info-slide {
background:url(images/info.png) left bottom no-repeat #FFF;
background-size:46px 46px;
position:absolute;
top:30px;
left:30px;
width:46px;
height:46px;
display:block;
text-indent:10px;
-moz-border-radius:23px;
-webkit-border-radius:23px;
border-radius:23px;
cursor:pointer;
z-index:1000;
-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter:alpha(opacity=.5);
opacity:.5;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
-ms-transition:all .3s;
transition:all .3s;
margin:0;
}

.in-slide-content div.info-slide:hover {
width:200px;
background:#FFF;
position:absolute;
bottom:40px;
text-indent:0;
moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
z-index:1000;
-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter:alpha(opacity=1);
opacity:1;
padding:10px 20px;
}

.in-slide-content h2,.info-slide p {
text-shadow:none;
z-index:1001;
font-weight:400;
white-space:nowrap;
}

.in-slide-content h2,.in-slide-content p {
font-size:12px;
line-height:24px;
margin:0;
padding:0;
}

.in-slide-content h2 {
font-size:14px;
color:#444;
text-transform:uppercase;
position:relative;
}

.info-slide p {
color:#aaa;
font-size:13px;
position:relative;
margin:0;
}

.in-slide-content div.info-slide h2 {
display:none;
padding:10px 10px 0;
}

.in-slide-content div.info-slide p {
display:none;
padding:0 10px 10px;
}

.in-slide-content div.info-slide:hover h2,.in-slide-content div.info-slide:hover p {
display:inherit;
padding:0;
}

.float-left {
float:left;
}

.paymentBanner {
padding-left:20px;
}

#inscriptionForm span {
font-size:15px;
font-weight:700;
color:#23527c;
}

#hiddenTitle {
text-indent:-9999px;
height:0;
margin:0;
padding:0;
}

.btn-social {
color:#fff;
border-radius:5%;
width:43px;
text-align:center;
border-color:rgba(0,0,0,.2);
}

.btn-twitter {
background-color:#55ACEE;
}

.btn-google {
background-color:#DD4B39;
}

.btn-facebook {
background-color:#3B5998;
}

#information-div {
padding:20px;
}

#informationForm {
border:1px solid #ccc;
border-radius:4px;
background:#FFF;
padding:20px;
}

#informationSend {
width:100%;
}

#informationTitle {
text-align:center;
font-weight:700;
color:#005490;
font-size:24px;
margin:0 0 18px;
}

#informationCall {
padding:0 20px;
}

#informationCallBanner {
border:1px solid #ccc;
border-radius:4px;
height:111px;
background: #fff;
text-align:center;
color:#222;
font-weight:bold;
margin:0 0 20px!important;
padding:23px 15px 0 0;
font-size: 24px;
}

#internal {
background:#EFEFEF;
padding:60px 0;
}

#internal img {
margin-bottom:20px;
}

#internal h3 {
font-size:16px;
line-height:22px;
}

.payment-method {
margin-top:10px;
}

#services {
box-sizing:border-box;
font-family:Lato;
}

.heading-primary {
font-size:2em;
text-align:center;
padding:2em;
}

.accordion dl,.accordion-list {
border:1px solid #ddd;
}

.accordion dl:after,.accordion-list:after {
content:"";
display:block;
height:1em;
width:100%;
background-color:#00365c;
}

.accordion dt a:focus,.accordion dt a:hover {
color:#FFF;
text-decoration:none;
}

.accordion dd,.accordion__panel {
background-color:#eee;
font-size:1em;
line-height:1.5em;
}

.accordion p {
text-align:center;
padding:1em 2em;
}

.accordion a {
margin:0 auto;
}

.accordion {
position:relative;
background-color:#eee;
}

.accordionTitle,.accordion__Heading {
background-color:#005490;
text-align:center;
font-weight:700;
display:block;
text-decoration:none;
color:#fff;
-webkit-transition:background-color .5s ease-in-out;
transition:background-color .5s ease-in-out;
border-bottom:1px solid #014576;
font-size:16px;
padding:2em;
}

.accordionTitle:before,.accordion__Heading:before {
content:"+";
font-size:1.5em;
line-height:.5em;
float:left;
-webkit-transition:0 .3s ease-in-out;
transition:transform .3s ease-in-out;
}

.accordionTitle.is-expanded,.accordionTitle:hover,.accordionTitleActive,.accordion__Heading:hover {
background-color:#00365c;
}

.accordionTitle.is-expanded:before,.accordionTitleActive:before {
-webkit-transform:rotate(-225deg);
-ms-transform:rotate(-225deg);
transform:rotate(-225deg);
}

.accordionItem {
height:auto;
overflow:hidden;
max-height:50em;
-webkit-transition:max-height 1s;
transition:max-height 1s;
}

.accordionItem.is-collapsed {
max-height:0;
}

.no-js .accordionItem.is-collapsed {
max-height:auto;
}

.animateIn {
-webkit-animation:accordionIn .65s normal ease-in-out both 1;
animation:accordionIn .65s normal ease-in-out both 1;
}

.animateOut {
-webkit-animation:accordionOut .75s alternate ease-in-out both 1;
animation:accordionOut .75s alternate ease-in-out both 1;
}

100% {
opacity:0;
-webkit-transform:scale(.9) rotateX(-60deg);
transform:scale(.9) rotateX(-60deg);
}

h2,h6,.contact_block {
text-align:center;
}

.figure,body,p,#hiddenTitle h1 {
margin:0;
}

.header_box,.logo,.top_cont_outer,.white_pad,.hero_section,.member-top {
position:relative;
}

p .bold,.top_left_cont h2 strong {
font-weight:700;
}

.center {
text-align:center;
}

.navStyle ul li a,.top_left_cont h2,#informationCallBanner,.project-section-title h1 {
font-family:Raleway,sans-serif;
}

.bannerImg,.navStyle,.client_profile.flt {
float:right;
}

.navbar-inverse .navbar-nav>li>a,#cursos h2 {
color:#FFF;
}

.navStyle ul li,#filters ul li {
display:inline-block;
margin:0 5px;
}

.top_cont_outer,.contact_block_icon.icon2 span {
background:#005490;
}

#cursos,#noticias,#nosotros,.page_section.team {
padding:60px 0;
}

.work_bottom,.client_section.btm,.payment-method-box {
padding:20px 0 0;
}

@media max-width768px{

.bannerImg {
display:none;
}

p {
font-size:14px;
}

.hero_section {
position:relative;
padding-top:10px;
}

.top_left_cont {
padding:38px 0;
}

.top_left_cont h2 {
font-size:25px;
color:#FFF;
line-height:39px;
margin:0 0 9px;
}

#nosotros h3,.service_block h3 {
font-size:16px;
}

.inner_section {
padding:20px 0;
}

#nosotros img,.service_block {
margin-bottom:20px;
}

#nosotros h3 {
line-height:22px;
}

service_block p {
font-size:14px;
margin:0 0 20px;
}

#filters ul {
padding-left:0;
}

.form {
margin:0 18px;
}

,#noticias,.page_section.team {
padding:40px 0;
}

.client_logos ul li {
display:inline-block;
margin:0 25px;
padding:11px 0;
}

.contact_section,.navStyle ul li:last-child {
margin:0;
}

.social_links li {
float:left;
}

.contact_section h2,h2 {
font-size:30px;
}

.page_section.contact {
padding:60px 0 50px;
}

.navbar-inverse .navbar-toggle .icon-bar {
background:#005490;
}

.navbar-inverse .navbar-toggle {
border-color:transparent;
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
background:0 0;
outline:0;
}

.navStyle ul li {
display:block;
margin:0;
}

.navStyle {
float:right;
width:auto;
text-align:center;
}

.navStyle ul li a {
font-size:12px;
padding:15px 12px;
}
}

@media max-width480px{

.navStyle {
float:right;
width:100%;
text-align:center;
}

.team_area {
width:99%;
}

.member-details {
padding-left:0;
clear:left;
display:block;
padding-top:18px;
}
}

@media screen and min-width48em{
.accordionItem {
max-height:15em;
-webkit-transition:max-height .5s;
transition:max-height .5s;
}
}